.header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 900px) {
    padding: 3.2rem 0;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #4C4C4C;

    @media(min-width: 900px) {
      line-height: 18px;
      font-size: 14px;
    }
    @media(min-width: 1250px) {
      flex-direction: row;
      gap: 24px;
    }

    > span {
      @media(min-width: 1250px) {
        max-width: 180px;
      }
    }
  }
}

.list {
  display: none;
  list-style: none;

  &__item {
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer;
    color: #000000;
    border: none;
    background: none;

    @media(min-width: 900px) {
      padding: 4px 12px;
      gap: 5px;
    }

    @media(min-width: 1250px) {
      padding: 8px 24px;
      gap: 10px;
    }

    &_active {
      color: #4F58C9;
      background: #E9EAF9;
    }
  }

  @media(min-width: 900px) {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.call {
  display: flex;
  gap: 8px;

  &__phone {
    display: none;
    @media(min-width: 900px) {
      display: block;
    }
  }

  &__contact {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
  }

  &__free {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #4C4C4C;
  }
}

.kapibara {
  min-width: 100vw;
  min-height: 243.2px;
  background: url("../../assets/header/back-desk.png") no-repeat;
  background-size: cover;

  @media(min-width: 900px) {
    min-height: 560px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 243.2px;

    @media(min-width: 900px) {
      position: static;
      height: 560px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text {
    position: absolute;
    bottom: -45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media(min-width: 900px) {
      position: static;
    }
  }

  &__result, &__deadline {
    padding: 8px 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;

    @media(min-width: 900px) {
      padding: 12px 18px;
      font-size: 48px;
      line-height: 58px;
    }
  }

  &__result {
    border-radius: 8px 8px 8px 0;
    background: #737BE1;
    color: #FFFFFF;
  }

  &__deadline {
    border-radius: 0 0 8px 8px;
    background: #E9EAF9;
    color: #737BE1;

    @media(min-width: 900px) {
      background: #FFFFFF;
    }
  }

  &__image {
    width: 170px;
    height: 228px;

    @media(min-width: 900px) {
      width: 367px;
      height: 492px;
      margin-top: 4.2rem;
    }

    @media(min-width: 1250px) {
      margin-right: 8rem;
    }
  }
}
