.wrapper {
  background: #4F58C9;
  min-width: 100vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
  width: 300px;

  @media(min-width: 900px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    order: 2;

    @media(min-width: 900px) {
      font-size: 16px;
      line-height: 21px;
      order: 1;
    }
  }

  &__logo{
    order: 1;
    width: 150px;
    height: 23px;
    @media(min-width: 900px) {
      order: 2;
      width: 194px;
      height: 29px;
    }
  }
}